@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Raleway, Helvetica, sans-serif;
  position: relative;
  background: rgb(46, 53, 55);
}

.side-nav {
  position: fixed;
  height: 200vh;
  left: 0px;
  top: 0;
}

.navbloc {
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  background: #404c55;
  height: 100vh;
  width: 225px;
}

.three-dots-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.three-dots-container p {
  display: inline-block;
  vertical-align: top;
  font-style: italic;
  font-size: 37.5px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
}

.three-dots-container img{
  border-radius: 30px;
}

.dot {
  flex-shrink: 0;
  margin: 10px 3px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #000;
}

.nav-bloc {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  cursor: pointer;
  border-bottom: 1px solid #f2f2f21e;
}

.nav-bloc:hover {
  background: rgb(24, 24, 24);
}

.nav-bloc:hover .sub-nav {
  transform: translateX(75px);
}

.nav-bloc svg {
  width: 25px;
  fill: #f2f2f2;
  transition: 0.2s ease-in-out;
}

.nav-bloc:hover svg {
  fill: #50bddf;
}

.nav-bloc p {
  font-size: 20.7px;
  color: #fff;
}

.sub-nav {
  padding: 0px;
  width: 200px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  color: white;
  transform: translateX(-100%);
  transition: transform 0.2s ease-in-out;
  border-right: 2px solid #000;
  border-left: 2px solid #000;
}

.sub-nav h2 {
  font-family: open sans, sans-serif;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222;
}

.sub-nav ul {
  list-style-type: none;
}

.sub-nav li {
  padding: 15px 20px;
}

.sub-nav li:hover {
  background: rgba(160, 160, 160, 0.555);
}

.sub-nav li a {
  color: #f2f2f2;
  text-decoration: none;
}

.main-content {
  padding-left: 75px;
  color: #f3f3f3;
}

.main-content p {
  display: flex;
  justify-content: center;
  align-items: center;
}